/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}


/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.main-header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    padding: 1em 0;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
    background: black;
    color: white;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
    .wrap {
		min-height: calc(100vh - 82px);
    }
    
	.container {
		width: 70%;
		max-width: 1000px;
		margin: 0 auto;
	}
}